html,body {
  background: linear-gradient(to top right, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}
a, a:hover, a:active, a:visited {
  color: white;
}
.blue, .blue:hover, .blue:active, .blue:visited {
  color: rgba(0,172,193,1);
  cursor: pointer;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;
}

.container {
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.2),
              0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  width: 700px;
  height: 400px;
  background: rgba(255, 255, 255, 1);
  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: 45% auto;
}

.left {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 91, 0, 1);
  box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.4);
}

.right {
  background: rgba(0,172,193,1);
  background: linear-gradient(to top right, rgb(41, 115, 188) 0%, rgba(0,172,193,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
  padding: 0 3rem;
  font-weight: 550;
}
.autoBottom {
  margin-bottom: auto;
}

.boundingBox {
  position: absolute;
  box-shadow: 0 0 0 3px #000 inset;

}