.container {
    margin: 0;
    padding: 0;
    position: absolute
}

.MainImage {
    max-width: 320px;
    max-height: 300px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2),
                -1px -1px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}